@media (max-width: 1440px),(min-width: 376px){
    header{
        border: solid red 3px;
        background-image: url(../assets/images/background-pattern-desktop.svg);
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 320px;
    }
    body{
        border: solid red 3px;
        margin: 0px;
        background-color: #F9F0FF;
    }
}