@media (max-width: 1440px),(min-width: 800px){
    .accordion {
        background-color: #eeeeee00;
        color: #444;
        cursor: pointer;
        padding: 16px;
        width: 100%;
        border: none;
        border-top: solid rgba(194, 194, 194, 0.368) 1px;
        text-align: left;
        outline: none;
        transition: 0.4s;
      }
      
      .active, .accordion:hover {
        color: #AD28EB;
        
        
      }
      
      .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
      }
      
      .accordion:after {
        content: url(../assets/images/icon-plus.svg); 
        color: #77777700;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: url(../assets/images/icon-minus.svg); 
      }
}