@media (max-width: 375px){
    header{
        background-image: url(../assets/images/background-pattern-mobile.svg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: auto;
        height: 232px;
    }
    body{
        margin: 0px;
        background-color: #F9F0FF;
    }
}