body {
    background-image: url('img/img_fundo_mais_escura.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    mask-position: relative;
    width: 100%;
}
.secao1{
    top: 58%;
    left: 20%;
    position: absolute;
    background-position: center center;
    color: white;
    transform: translate(-40%, -40%);
    margin-bottom: 20%;
}
.secao2{
    width: 34.25rem;
    height: 24.8125rem;
    flex-shrink: 0;
    top: 45%;
    left: 65%;
    position: absolute;
    background-position: center center;
    color: white;
    transform: translate(-40%, -40%);
    width: 34.25rem;
}
h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFF;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.subtitulo{
    color: #DFDFDF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.titulo{
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
div.bloco{
    margin-top: 24.5%;
    text-align: left;
}
.subtitulo2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background-color: #ffffff00;
    border: hidden;
    margin-top: 1rem;
    width: 16.4375rem;
    color: white;
}
.box2 .subtitulo2{
    width: 34.1875rem;
}
::placeholder{
    color: #DFDFDF;
    border: hidden;
}
.titulo2{
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.box1{
    border-bottom: solid 0.1875rem white;
    width: 16.4375rem;
    height: 5.7rem;
    margin: 2% 2% 6% 2%;
    align-items: start;
}
.box2{
    border-bottom: solid 0.1875rem white;
    width: 34.1875rem;
    height: 5.7rem;
    padding: 1%;
    margin: 1% 1% 5% 1%;
}
#article1{
    display: flex;

}
#article2{
    display: flex;
    flex-direction: column;
}
#enviar{
    margin-top: 18%;
    margin-left: 2%;
    border: none;
    padding: 1.75% 3%;
    background-color: #EFA30A;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    color: white;
    line-height: normal;
    border-radius: 1.875rem;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.25) inset;
    width: 34.1875rem;
}
.secao1 address{
    font-size: 1.5625rem;
}