.sidenav{
    background-image: url(../assets/images/bg-sidebar-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 12rem;
    height: 27rem;
    border-radius: 0.5rem;

    padding: 10% 0% 0% 6%;
}
/* Make circles that indicate the steps of the form: */
.step {
    height: 2.225rem;
    width: 2.225rem;
    margin: 4% 2% 0% 4%;
    background-color: transparent;
    border: solid white 0.07rem;
    color: white;
    border-radius: 50%;
    display: block;
    opacity: 0.7;
  }
  
  /* Mark the active step: */
  .step.active {
    background-color: #BFE2FD;
    color: #02295A;
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: transparent;
    color: white;
  }
  .fases{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .texto{
    display: flex;
    flex-direction: column;
    justify-content: center;

    
  }