@media(min-width: 840px){
    body{
        background-color: #BFE2FD;
        
        z-index: 1;
    }
    main{
        background-color: #FAFBFF;
        width: max-content;
        margin: auto;

        z-index: 2;
    }
    img{
        margin: 3%;

        z-index: 2;
    }
    svg{
        margin: -20%;
        z-index: 3;
    }
}