.font-ubunto-400-claro{
    color: #D6D9E6;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.font-ubunto-400-placeholder{
    color: #9699AB;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
}
.font-ubunto-700{
    color:#FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.font-ubunto-700-escuro{
    color: #02295A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0rem;
}
.font-ubunto-700-subtitulo{
    color: #9699AB;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1rem;
}
.font-ubunto-600-escuro{
    color: #02295A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.font-ubunto-500-escuro{
    color: #02295A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
::placeholder{
    color: #9699AB;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
}
.font-ubunto-400-azul-claro{
    color: #473DFF;
    font-family: Ubuntu;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}