.font-ubunto-400-claro{
    color: #D6D9E6;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.font-ubunto-700{
    color:#FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.font-ubunto-700-escuro{
    color: #02295A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.font-ubunto-700-subtitulo{
    color: #9699AB;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}