/* Style the form */
#regForm {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 55%;
    height: max-content;
    border: solid red 1px;
    margin: auto;
    margin-left: 5%;
    padding: 1% 20%;
  }
  
  /* Style the input fields */
  input {
    padding: 2.5% 0.5%;
    width: 100%;
    font-size: 16px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
    
  }
  
  