#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: max-content;
}
.plan_button{
    width: 9.375rem;
    height: 10.5625rem;
    margin: 0% 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;;
}
#buttons h3,h4{
    margin-bottom: 0rem;
    
}