#flexButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#PrvNext{
    display: flex;
    padding: 2% 0%;
}
#prevBtn{
    background-color: transparent;
    border: none;
    color: #02295A;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}
#nextBtn{
    color:  #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 6.5rem;
    height: 1.9rem;

    border-radius: 0.625rem;
    background: #02295A;

    cursor: pointer;
}

