:root{
    --tam-fonte: 1.25rem;
}
.roboto_condensed_bold{
    
    color: var(--titulo,  #FFF);
    font-family: 'Roboto Condensed';
    font-size: var(--tam-fonte);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/* roboto_condensed_light */
::placeholder{
    color: var(--subtitulo, #DFDFDF);
    font-family: 'Roboto Condensed';
    font-size: var(--tam-fonte);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
body {
    font-size: var(--tam-fonte);
    background-image: url('../img/Desktop\ -\ 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 99%;
}
main{
    padding: 0.5% 2% 0% 0%;
    margin: 0% 25% 1% 25%;
    width: 55%;
    height: min-content;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: var(--cor-primaria, #059954);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
header img{
    margin-left: 25%;
}
#voltar{
    display: flex;
    align-items: center;
}
.sectionleft{
    margin: 0% 0% 0% 8%;
}
.sectionright{
    margin: 0% 8% 0% 0%;
}
#divisao{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5% 0% 0% 5%;
    align-items: flex-start;
    margin: 5% 0% 0% 5%;
}
.inputcadastro{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: solid 0.15rem white;
    border-radius: 0%;
    padding: 3% 0%;
}
.button{
    border-radius: 1.875rem;
    background: var(--nfase, #F25C05);
    box-shadow: 1px 1px 25px 1px rgba(0, 0, 0, 0.25) inset;
    border: solid black 1px;
    width: 50%;
    height: 2.075rem;
    margin: 5% 24.9% 2% 24.9%;
}
#logo{
    margin: 1% 0% 0.5% 0%;
}
p{
    display: flex;
    align-items: center;
    padding-bottom: 1%;

}
#section2, #section4, #section6{
    padding: 2% 0% 2% 2%;
}
#section1, #section3, #section5{
    padding: 2% 2% 2% 0%;
}
#esquerda{
    width: 15rem;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
#direita{
    width: 15rem;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}